<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-3495975343321117",
                enable_page_level_ads: true
            });
        </script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-86909092-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="<?=base_url()?>assets/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="<?=base_url()?>assets/js/funciones.js"></script>
        <link rel="stylesheet" href="<?=base_url()?>assets/css/bootstrap.min.css" type="text/css">
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="<?=base_url()?>assets/js/bootstrap.min.js" ></script>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="OKS3ePznYyZwJKyQB0r5QUcsjDdS5b73rd0zCsQob-4" />
        <link rel="shortcut icon" tipe="img/x-icon" href="<?=base_url()?>assets/pesca.png" />
        <title> La pesca deportiva | pescacng.info  </title>
        <meta name="description" content="Articulos sobre la pesca, foro sobre pesca deportiva, pescado, como pescar">
        <meta content="pesca, kayak, lubina, robalo, spinning, jigging, surfcasting, el tiempo, mareas " name="keywords">
        <!-- NOS HEMOS DECANTADO POR UTILIZAR EL CDN DE BOOSTRAP -->
        <link href="<?=base_url()?>assets/css/stilo.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8&appId=1827996470779055";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <!-- dato estructurado -->
            <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Certamen de pesca",
  "startDate" : "2016-12-06T09:30",
  "url" : "http://www.pescacng.info/foropesca/viewtopic.php?f=9&t=17",
  "description": "26 certamen de pesca del club la baila en fuengirola",
  "location" : {
    "@type" : "Place",
    "sameAs" : "http://www.pescacng.info",
    "name" : "Foro de pesca",
    "address" : "Club de pesca la baila fuengirola"
  }
}
</script>
        <!-- BARRA DE NAVEGACIÓN SUPERIOR -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="cris" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Utilizamos la clase navbar-collapse es decir una lista que se despliega 1 a 1 en dispositivos pequeños -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="ari" id="btnlogo" href="<?=base_url()?>index.php/Landing"> <img src="<?=base_url()?>assets/casa.png">
                                Bienvenido</a>
                        </li>
                        <li>
                            <a class="ari" id="btnsecciones"> <img src="<?=base_url()?>assets/grafico-de-sectores.png">
                                Secciones</a>
                        </li>
                        <li>
                            <a class="ari" id="btngaleria"><img src="<?=base_url()?>assets/galeria.png">
                                Galeria</a>
                        </li>      
                        <li>
                            <a class="ari" id="btneltiempo"><img src="<?=base_url()?>assets/sol.png">
                                El Tiempo</a>
                        </li>                                                                 
                        <li>
                            <a class="ari" id="btnabout"> <img src="<?=base_url()?>assets/social.png">
                                Quienes somos</a>
                        </li>
                        <li>
                            <a class="ari" id="btnsabermas"> <img src="<?=base_url()?>assets/portafolios-con-lapiz.png">
                                Saber mas!</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- AQUI TERMINA EL MENU SUPERIOR DE NAVEGACION -->
        <!-- ABRIMOS UN HEADER PARA UTILIZARLO COMO PRESENTACION DE NUESTRA PAGINA ES DECIR UNA CABEZERA -->
        <hr>
        <div id="aqui"></div> <!-- IDENTIFICADOR PARA SUBIR ARRIVA  -->
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <!-- LOGO -->
                    <img src="<?=base_url()?>assets/logo.png" alt="logo www.pescacng.info" class="img-responsive" class="img-thumbnail">
                </div>
                <div class="col-md-6"><!-- MI ESLOGAN -->
                    <!-- Jumbotron Header -->
                    <header class="jumbotron hero-spacer">
                        <font face="broadway">
                        <h1 id="titulo"><CENTER>Bienvenidos</CENTER></h1></font>
                        <font color="#7FB3D5" face="century ghotic">
                        <p class="">En nuestra pagina encontras todo lo que necesites saber sobre la pesca.No dudes en registrate en nuestro "FORO", donde podrás compartir tus experiencias y aprender de los demás. </p></font>
                </div>
                </header>
            </div> <!-- FIN DE LA FILA PRINCIPAL -->
            <hr>
            <div class="row">     
                <blockquote class="pull-right">
                    <img src="<?=base_url()?>assets/comunicacion.png"/>
                    <a href="http://www.pescacng.info/foropesca" target="_blank" ><u><big>FORO</big></u></a>
                    <small>Navega por nuestra web y <cite title="y">descubre un mundo de diversión.</cite></small>
                </blockquote>
            </div>
            <p id="secciones"/>
            <br><br><br>    
            <!-- AQUI COMIENZA LA SECCION -->
            <div class="row text-center" >
                <!-- PRIMER ELEMENTO DE LA SECCION  -->
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo"><p class="text-primary"><b>ULTIMAS NOTICIAS</b></p></span>
                        <img  class="img-rounded"  src="<?=base_url()?>assets/comunicacion_2.jpeg" class="img-responsive" alt="Noticias y articulos sobre la pesca">
                        <div class="caption">
                            <h3 class="titulo">Noticias y Artículos</h3>
                            <p class="p">Aquí encontraras toda la información acerca de la pesca y los deportes acuáticos. Obtendrás toda la actualidad en un solo click. No olvides comentar tu opinión acerca de las noticias que te mostramos. Para nosotros tu opinión es importante. <p>
                            <p> <a href="http://www.pescacng.info/index.php/Articulos" class="btn btn-primary">Más información  </a></p>
                        </div>
                    </div>
                </div>
                <!-- SEGUNDO ELEMENTO -->
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo"><p class="text-primary"><b class="tiem">EL TIEMPO</b></p></span>
                        <img  class="img-rounded" src="<?=base_url()?>assets/tiempo.jpg" class="tiem" class="img-responsive" alt="Planifica tu jornada de pesca">
                        <div class="caption">
                            <h3 class="titulo" class="tiem"> No olvides mirarlo </h3>
                            <p class="p">Aquí encontraras todo la información meteorología que necesites. No olvides que para practicar tu deporte favorito, debe haber un clima adecuado, por ello no olvides mirar el tiempo antes de salir. Podrás clasificar tu búsqueda como prefieras, por comunidades, por ciudades...<p>
                        </div>
                    </div>
                </div>
                <!-- TERCER ELEMENTO -->
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo" ><p class="text-primary"><b>DEPORTES ACUATICOS</b></p></span>
                        <img  class="img-rounded" src="<?=base_url()?>assets/Collage-water-sports.jpg" class="img-responsive" alt="Información sobre los deportes aquaticos">
                        <div class="caption">
                            <h3 class="titulo"> Deportes de moda </h3>
                            <p class="p">Los deportes acuáticos se practican por todo el mundo y, aunque algunos pueden ser de lo más complicado, en general todos son muy divertidos. Estos deportes se pueden practicar en lagos y embalses pero sobretodo en el mar.A continuacion encontraras más información detallada sobre cada uno de ellos.
                            <p>
                            <p> <a href="<?= base_url() . 'index.php/Deportes/' ?>" class="btn btn-primary">Más información  </a></p>
                        </div>
                    </div>
                </div> 
                <!-- CUARTO ELEMENTO -->         
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <a class="twitter-timeline" data-width="300" data-height="600" data-link-color="#2B7BB9" href="https://twitter.com/aquasportinfo">Tweets by aquasportinfo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
                </div>
            </div><!-- SEPARAMOS LA GALERIA DE LAS SECCIONES CON UN HR -->
            <div class="clearfix visible-md"></div>
            <hr>
            <!-- GALERIA -->  
            <div class="row">     
                <blockquote class="pull-right">
                    <p class="titulo" id="galeria">Ultimas fotos.</p>
                    <small>Nosotros nos llevamos una imagen <cite title="y">tu la experiencia.
                            <br> comparte con todos tu pesca, para ello puedes compartir tu foto en <a href="https://www.facebook.com/aquasportinfo/" target"_blank">nuestro facebook</a></cite></small>
                </blockquote>
            </div>    
            <!-- row galeria -->
            <div class="row text-center">
                <!-- PRIMER PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">El rompido (HUELVA ) </h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/robalo.jpeg"> <img src="<?=base_url()?>assets/robalo.jpeg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestra amiga Cristina este Miercoles (16/11/16) en el Rompido </p>
                        </div>
                    </div>
                </div> 
                <!-- SEGUNDO PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/3.jpeg"><img src="<?=base_url()?>assets/3.jpeg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestro amigo Fran, en la ría de Punta Umbría</p>
                        </div>
                    </div>
                </div>  
                <!-- TERCER PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Huelva</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/manuel fortes.jpg"> <img src="<?=base_url()?>assets/manuel fortes.jpg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestra amigo Manuel este verano en Huelva </p>
                        </div>
                    </div>
                </div> 
                <!-- CUARTOPANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Pesca Submarina en Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/pesca3.jpg"><img src="<?=base_url()?>assets/pesca3.jpg" class="img-responsive" ></a>
                            <p class="text-info"> Pesca realizada por nuestro amigo Fran en Punta Umbría esta mañana (02/11/16)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- PRIMER PANEÑ -->
                <br>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/domi pesca 2.jpeg"><img src="<?=base_url()?>assets/corvina.jpg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestro amigo Fran, una de sus mayores e impresionantes capturas en la ría de Punta Umbría</p>
                        </div>
                    </div>
                    <!--SEGUNDO PANEL-->
                </div> 
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ria de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/carlos.jpeg"><img src="<?=base_url()?>assets/carlos.jpeg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestro amigo Carlos el sábado (5/11/16)</p>
                        </div>
                    </div>
                </div> 
                <!-- TERCER PANEL-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/domi pesca 2.jpeg"><img src="<?=base_url()?>assets/tanero.jpg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestro amigo Walter este Sábado (27/11/16)</p>
                        </div>
                    </div>
                </div>
                <!--CUARTO PANEL-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Es
                                pigon de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/pulpo cristina.jpg"><img src="<?=base_url()?>assets/pulpo cristina.jpg" class="img-responsive" ></a>
                            <p class="text-info"> Foto de nuestra amiga Cristina el domingo (6/11/16)</p>
                        </div>
                    </div> 
                </div>         
                <!--fin row galeria-->
            </div><p id="eltiempo"><BR><BR>
            <hr>
            <blockquote class="pull-right">
                <p class="titulo" id="carrusel">¿Te gusta lo que ves?.</p>
                <small><cite class="tiem">Ayúdanos a darte la previsión, danos un me gusta </cite><!-- Your like button code --></small>
            </blockquote>
            <div class="fb-like" 
                 data-href="<?= base_url() ?>?>index.php/Landing" 
                 data-layout="standard" 
                 data-action="like" 
                 data-show-faces="true">
            </div>
            <br>
            <!-- ELTIEMPO -->
            <br>
            <hr>
            <div class="row">
                <center>   
                    <!-- EL TIEMPO WIND --><p class="text-primary"><b>La previsión según Windytv.</b></p>         
                    <div class="col-md-8"><iframe src="https://embed.windytv.com/?37.200,-7.317,6,menu,message,marker,ip" width="750" height="500" frameborder="0"></iframe>
        </iframe></div></center> 
                <div class="col-md-4"><p class="text-primary">Windytv nos proporciona información metorologica del mundo entero, pero no por ello es menos concreto pues podemos navegar justo al lugar de nuestro pesquero y comprovar la previsión para las proximas horas.<br> Los colores amarillos, naranjas y rojos nos ubican las zonas donde el viento sopla con más intensidad. Tambien podemos consultar otros valores cómo temperatura, nubes, olas o presión.</p>
                    <img src="<?=base_url()?>assets/mundo.png" class="img-responsive" alt="El mundo a través de windytv"><p class="text-primary"> Windytv se actualiza 4 veces al día y por si fuera poco podemos consultar los mejores accesos a nuestro pesquero pues también se ve el mapa de carreteras.</p></div>       
            </div>
            <div class="row">
                <div class="col-md-8">
                <center><p class="text-primary"><b>La previsión según Windguru.</b></p><br>                 
                     <iframe id="guru" src="https://www.windguru.cz/int/distr_iframe.php?u=1169662&s=48748&c=533e531c1a" frameborder="0" width="800" height="380"></iframe></div></center>  
                <div class="col-md-4"> 
                                    <div class="form-inline">
                        <div class="form-group">
                            <label>Selecciona la zona de pesca : </label><br>
                            <select name="provincia" class="form-control">
                                <option></option>
                                <option value='alava'>Costa de la luz</option>
                                <option value='albacete'>Costa del sol</option>
                            </select>
                            <label class="sr-only"></label>
                            <input type="email" class="form-control" id="local" name="local"
                                   placeholder="Introduce la localidad">
                        </div>
                    </div>    <p class="text-primary">  
                        Selecciona la zona de costa y posteriormente introduce la localidad, el cuadro de la izquierda cambiará con la previsión del sitio seleccionado.</p><br>
                    <center><button type="submit" class="btn btn-info" name="previ" id="previ">Previsión</button> </center><br>
                   <p class="text-primary">  Si tu sitio no aparece, puedes mandarnos la dirección del lugar y lo añadiremos en menos de 24h.</p>
                   <p class="text-primary" id="praemet"> </p>
                </div></div> 
        <div class="row">
            <center><button type="submit" class="btn btn-info" name="previ" id="temp2">Temperatura del agua según aemet</button></center><br>
                <div class"col-md-12" id="temp">
                     <img style="-webkit-user-select: none" src="https://opendata.aemet.es/opendata/api/satelites/producto/sst/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhcXVhc3BvcnQuaW5mb3JtQGdtYWlsLmNvbSIsImp0aSI6ImEyNmEwM2ZkLTc3YmUtNGFkMS1iYThkLThjYTIzODRlMjE1MyIsImV4cCI6MTQ4Nzg0OTU0NCwiaXNzIjoiQUVNRVQiLCJpYXQiOjE0ODAwNzM1NDQsInVzZXJJZCI6ImEyNmEwM2ZkLTc3YmUtNGFkMS1iYThkLThjYTIzODRlMjE1MyIsInJvbGUiOiIifQ.HummA5axxrVmaqJJc-0NGDQlCZFI69J-8FBlDP1dftE">
                </div>
        </div>
        <!-- FIN ELTIEMPO -->
        <br><br>
        <hr>          
        <blockquote class="pull-right">
            <p class="titulo" id="about">¿Quienes somos?.</p>
            <small>Conoce lo que hacemos y <cite title="y">disfruta de ello.</cite></small>
        </blockquote>
        <!-- LOGO E INFORMACION -->     
        <!--<div class="row">
                         <div class="col-md-6">-->
        <!-- Jumbotron Header -->  
        <header class="jumbotron hero-spacer">
            <!-- MI ESLOGAN -->
            <h1 id="titulo">Nuestro equipo</h1>
            <p class="p">Somos un grupo de aficionados a la pesca que hemos creado este espacio con la intención de compartir y darle difusión a nuestros conocimientos, así como, adquirir nuevos conocimientos gracias a esta comunidad. Tendrás la oportunidad de planear con eficiencia tu jornada de pesca, basándote en las experiencias compartidas por nuestros usuarios, así como, obtener información a tiempo real sobre el tiempo y otros valores climatológicos que afectan a la jornada de pesca. </p>               
            <address><center>
                    <strong>E-mail</strong><br>
                    <a href="mailto:#">aquasport.inform@gmail.com</a>
                </center></address>                 
        </div>
    </div>
    <!--</a>  </div>           
  </div>-->
    <hr><br>
    <br><br>  <div class="row" id="sabermas"> 
        <div class="col-md-8">
            <center>
                <h1 id="titulo">¿Quieres saber más?</h1>     
                <p class="p"> Eso esta muy bien. No dudes en meterte en nuestro foro y preguntar tus dudas o simplemente, comentar tu experiencias.<br>
                    Pincha en el siguiente enlace:
                    <a href="http://www.pescacng.info/foropesca" target="_blank" ><u><big>foropesca</big></u></a> 
                <center><img src="<?=base_url()?>assets/foros-online-slider.png"></center></center>                    
        </div>
        <div class="col-md-4">
            <h1 id="titulo">Estamos en</h1>
            <p class="p">Nuestra responsabilidad social corporativa se basa en el compromiso con la sociedad y por eso queremos estar cerca de ella. Para ponerte en contacto con nosotros puedes seguirnos en: </p>  <br>

            <a href="https://www.facebook.com/aquasportinfo/" target="_blank"><img alt="siguenos en facebook" height="48" class="img-circle" src="http://4.bp.blogspot.com/-LnKbkk802kw/UiXwV9rN8xI/AAAAAAAAB0Y/fQCQKFEbvjM/s1600/face.png" title="siguenos en facebook" width="48" /></a>&nbsp;&nbsp;
            <a href="https://plus.google.com/u/1/106036487165336820763" target="_blank"><img alt="siguenos en Google+" height="48" class="img-circle" src="http://3.bp.blogspot.com/-IwxItZ1_cM0/UiX0-g2DrCI/AAAAAAAAB1c/hOSA6Uklo-I/s1600/Google%252B+alt.png" title="siguenos en Google+" width="48" /></a>
            <br><br>
            <a href="https://twitter.com/aquasportinfo" target="_blank"><img alt="siguenos en Twitter" height="48" class="img-circle" src="http://2.bp.blogspot.com/-CaF1EOBAWj4/UiX1AxmkZuI/AAAAAAAAB2Y/IioIplosXNo/s1600/Twitter+NEW.png" title="siguenos en Twitter" width="48" /></a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/channel/UCCKepeCXkZ1l6S3UsLVN_xw" target="_blank"><img alt="sígueme en Youtube" height="48" class="img-circle" src="<?=base_url()?>assets/Youtube2.png" title="sígueme en Youtube" width="48" /></a>
        </div>
    </div>       
    <!-- AQUI TERMINA EL LOGO Y LA INFORMACION-->
    <!-- PIE DE PAGINA -->
    <hr>
    <center> <p><a class="btn btn-primary btn-large" id="subir">Volver arriba!</a><br>
            Copyright © Domi C. 2016
        </p> </center>
        <script type="text/javascript">
         $("#previ").click(function ()
                {
                    var lugar = $("#local").val();
                    $.post('<?=base_url("index.php/Landing/previ/")?>', {local: lugar}, function (data)
                    {
                        var json = JSON.parse(data);
                        //console.log(data);
                        //console.log('el valor del input es:',lugar);
                        for (post in json)
                        {
                            $("#guru").attr("src", json[post].enlace);
                        }
                    });
                    $.post('<?=base_url("index.php/Landing/aemet/")?>',{local: lugar}, function (data)
                    {
                        var json = JSON.parse(data);
                        var campo;
                        //console.log(data);
                        //console.log('el valor del input es:',lugar);
                        for (post in json)
                        {
                            campo = "Previsión marítima <br>"+ json[post].prediccion.zona[0].subzona.texto;
                            $("#praemet").text(campo);
                            console.log(json[post].prediccion.zona[1].subzona);
                            //$("#previsi").val() = json[post].situacion);
                        }
                    });

                    $.get('<?=base_url("index.php/Landing/aemet2/")?>',function (data)
                    {
                        var varia = $.parseHTML(data)
                        console.log(varia);
                    });
                });
         </script>
</div><!-- FIN DEL CONTENDOR PRINCIPAL DE LA WEB -->   
</body>
</html>
