<!DOCTYPE html>
<html lang="en">
    <head>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-3495975343321117",
                enable_page_level_ads: true
            });
        </script>
        <meta charset="UTF-8">
        <link rel="shortcut icon" tipe="img/x-icon" href="<?=base_url()?>assets/pesca.png" />
        <title>  Pesca info  </title>
        <meta name="description" content="Foro pesca, pesca online, como pescar, pesca">
        <!-- NOS HEMOS DECANTADO POR UTILIZAR EL CDN DE BOOSTRAP -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <style type="text/css">
            .titulo{
                color:#012DFF;
                line-height: 1.2;}
            #titulo{
                color:#1F618D;
                font-style:"century ghotic";}
            .p{
                color:#0066E8;}
            #cris{
                background-color:#1F618D;
                font-size:18px;}   

            html, body, #map_canvas {                
                height: 100%;}
            </style>
        </head>
        <body>
            <!-- BARRA DE NAVEGACIÓN SUPERIOR -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="cris" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Utilizamos la clase navbar-collapse es decir una lista que se despliega 1 a 1 en dispositivos pequeños -->
                <div class="collapse navbar-collapse navbar-ex1-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a id="btnlogo" href="<?=base_url()?>index.php/Landing"> <img src="<?=base_url()?>assets/casa.png">
                                Bienvenido</a>
                        </li>
                        <li>
                            <a id="btnsecciones"> <img src="<?=base_url()?>assets/grafico-de-sectores.png">
                                Secciones</a>
                        </li>
                        <li>
                            <a id="btngaleria"><img src="<?=base_url()?>assets/galeria.png">
                                Galeria</a>
                        </li>      
                        <li>
                            <a id="btneltiempo"><img src="<?=base_url()?>assets/sol.png">
                                El Tiempo</a>
                        </li>                                                                 
                        <li>
                            <a id="btnabout"> <img src="<?=base_url()?>assets/social.png">
                                Quienes somos</a>
                        </li>
                        <li>
                            <a id="btnsabermas"> <img src="<?=base_url()?>assets/portafolios-con-lapiz.png">
                                Saber mas!</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- AQUI TERMINA EL MENU SUPERIOR DE NAVEGACION -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#top").click(function () {
                    var posicion = $("#aqui").offset().top;
                    $("html, body").animate({scrollTop: posicion});
                });
                $("#btngaleria").click(function () {
                    var pos = $("#galeria").offset().top;
                    $("html, body").animate({scrollTop: pos});
                });
                $("#btnsecciones").click(function () {
                    var posi = $("#secciones").offset().top;
                    $("html, body").animate({scrollTop: posi});
                });
                $("#btneltiempo").click(function () {
                    var posi = $("#eltiempo").offset().top;
                    $("html, body").animate({scrollTop: posi});
                });
                $("#btnabout").click(function () {
                    var posi = $("#about").offset().top;
                    $("html, body").animate({scrollTop: posi});
                });
                $("#btnsabermas").click(function () {
                    var posi = $("#sabermas").offset().top;
                    $("html, body").animate({scrollTop: posi});
                });
            });
        </script>
        <!-- ABRIMOS UN HEADER PARA UTILIZARLO COMO PRESENTACION DE NUESTRA PAGINA ES DECIR UNA CABEZERA -->
        <hr>
        <div id="aqui"></div> <!-- IDENTIFICADOR PARA SUBIR ARRIVA  -->
        <br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <!-- LOGO -->
                    <img src="<?=base_url()?>assets/logo.png" alt="" class="img-responsive" class="img-thumbnail">
                </div>
                <div class="col-md-6"><!-- MI ESLOGAN -->
                    <!-- Jumbotron Header -->
                    <header class="jumbotron hero-spacer">
                        <font face="broadway">
                        <h1 id="titulo"><CENTER>Bienvenidos</CENTER></h1></font>
                        <font color="#7FB3D5" face="century ghotic">
                        <p class="">En nuestra pagina encontras todo lo que necesites saber sobre la pesca.No dudes en registrate en nuestro "FORO", donde podrás compartir tus experiencias y aprender de los demás. </p></font>
                </div>
                </header>
            </div> <!-- FIN DE LA FILA PRINCIPAL -->
            <hr>
            <div class="row">     
                <blockquote class="pull-right">
                    <img src="<?=base_url()?>assets/comunicacion.png"/>
                    <a href="http://www.pescacng.info/foropesca" target="_blank" ><u><big>FORO</big></u></a>
                    <small>Navega por nuestra web y <cite title="y">descubre un mundo de diversión.</cite></small>
                </blockquote>
            </div>
            <p id="secciones"/>
            <br><br><br>    
            <!-- AQUI COMIENZA LA SECCION -->
            <div class="row text-center" >
                <!-- PRIMER ELEMENTO DE LA SECCION  -->
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo"><p class="text-primary"><b>ULTIMAS NOTICIAS</b></p></span>
                        <img  class="img-rounded"  src="<?=base_url()?>assets/comunicacion_2.jpeg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3 class="titulo">Noticias y Artículos</h3>
                            <p class="p">Aquí encontraras toda la información acerca de la pesca y los deportes acuáticos. Obtendrás toda la actualidad en un solo click. No olvides comentar tu opinión acerca de las noticias que te mostramos. Para nosotros tu opinión es importante. <p>
                            <p> <a href="http://www.pescacng.info/index.php/Articulos" class="btn btn-primary">Más información  </a></p>
                        </div>
                    </div>
                </div>
                <!-- SEGUNDO ELEMENTO -->
                <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo"><p class="text-primary"><b>EL TIEMPO</b></p></span>
                        <img  class="img-rounded"  src="<?=base_url()?>assets/tiempo.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3 class="titulo"> No olvides mirarlo </h3>
                            <p class="p">Aquí encontraras todo la información meteorología que necesites. No olvides que para practicar tu deporte favorito, debe haber un clima adecuado, por ello no olvides mirar el tiempo antes de salir. Podrás clasificar tu búsqueda como prefieras, por comunidades, por ciudades...<p>
                            <p> <a href="http://www.tablademareas.com/es" target="_blank" class="btn btn-primary">Más información  </a></p>
                        </div>
                    </div>
                </div>
            
                <!-- TERCER ELEMENTO -->
               <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                    <div class="thumbnail">
                        <span class="help-block" id="titulo" ><p class="text-primary"><b>DEPORTES ACUATICOS</b></p></span>
                        <img  class="img-rounded" src="<?=base_url()?>assets/Collage-water-sports.jpg" class="img-responsive" alt="">
                        <div class="caption">
                            <h3 class="titulo"> Deportes de moda </h3>
                            <p class="p">Los deportes acuáticos se practican por todo el mundo y, aunque algunos pueden ser de lo más complicado, en general todos son muy divertidos. Estos deportes se pueden practicar en lagos y embalses pero sobretodo en el mar.A continuacion encontraras más información detallada sobre cada uno de ellos.
                            <p>
                            <p> <a href="<?= base_url() . 'index.php/Deportes/' ?>" class="btn btn-primary">Más información  </a></p>
                        </div>
                    </div>
               </div> 
                <!-- CUARTO ELEMENTO -->
                
                 <div class="col-md-3 col-sm-6 col-xs-12 hero-feature">
                  <a class="twitter-timeline" data-width="220" data-height="200" data-link-color="#2B7BB9" href="https://twitter.com/aquasportinfo">Tweets by aquasportinfo</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
                </div>
            </div><!-- SEPARAMOS LA GALERIA DE LAS SECCIONES CON UN HR -->
            <div class="clearfix visible-md"></div>
            <hr>
            <!-- GALERIA -->  
            <div class="row">     
                <blockquote class="pull-right">
                    <p class="titulo" id="galeria">Ultimas fotos.</p>
                    <small>Nosotros nos llevamos una imagen <cite title="y">tu la experiencia.
                            <br> No olvides mandarnos tus fotos para poder compartirlas con los demás</cite></small>
                </blockquote>
            </div>    
            <!-- row galeria -->
            <div class="row text-center">
                <!-- PRIMER PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">El rompido (HUELVA ) </h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/robalo.jpeg"> <img src="<?=base_url()?>assets/robalo.jpeg" class="img-responsive" ></a>
                            <p> Foto de nuestra amiga Cristina este Miercoles (16/11/16) en el Rompido </p>
                        </div>
                    </div>
                </div> 
                <!-- SEGUNDO PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/3.jpeg"><img src="<?=base_url()?>assets/3.jpeg" class="img-responsive" ></a>
                            <p> Foto de nuestro amigo Fran, en la ría de Punta Umbría</p>
                        </div>
                    </div>
                </div>  
                <!-- TERCER PANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Huelva</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/manuel fortes.jpg"> <img src="<?=base_url()?>assets/manuel fortes.jpg" class="img-responsive" ></a>
                            <p> Foto de nuestra amigo Manuel este verano en Huelva </p>
                        </div>
                    </div>
                </div> 
                <!-- CUARTOPANEL -->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Pesca Submarina en Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/pesca3.jpg"><img src="<?=base_url()?>assets/pesca3.jpg" class="img-responsive" ></a>
                            <p> Pesca realizada por nuestro amigo Fran en Punta Umbría esta mañana (02/11/16)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- PRIMER PANEÑ -->
                <br>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/domi pesca 2.jpeg"><img src="<?=base_url()?>assets/corvina.jpg" class="img-responsive" ></a>
                            <p> Foto de nuestro amigo Fran, una de sus mayores e impresionantes capturas en la ría de Punta Umbría</p>
                        </div>
                    </div>
                    <!--SEGUNDO PANEL-->
                </div> 
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ria de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/carlos.jpeg"><img src="<?=base_url()?>assets/carlos.jpeg" class="img-responsive" ></a>
                            <p> Foto de nuestro amigo Carlos el sábado (5/11/16)</p>
                        </div>
                    </div>
                </div> 
                <!-- TERCER PANEL-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ría de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/domi pesca 2.jpeg"><img src="<?=base_url()?>assets/domi pesca 2.jpeg" class="img-responsive" ></a>
                            <p> Foto de nuestro amigo Domingo este sábado (5/11/16)</p>
                        </div>
                    </div>
                </div>
                <!--CUARTO PANEL-->
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Es
                                pigon de Punta Umbría</h3>
                        </div>
                        <div class="panel-body">
                            <a href="<?=base_url()?>assets/pulpo cristina.jpg"><img src="<?=base_url()?>assets/pulpo cristina.jpg" class="img-responsive" ></a>
                            <p> Foto de nuestra amiga Cristina el domingo (6/11/16)</p>
                        </div>
                    </div> 
                </div>         
                <!--fin row galeria-->
            </div><p id="eltiempo"><BR><BR>
            <hr>
            <blockquote class="pull-right">
                <p class="titulo" id="carrusel">¿Te gusta lo que ves?.</p>
                <small>Si necesitas más información especifica pincha aquí: <a  href="http://www.tablademareas.com/es" target="_blank"><u><big>ELTIEMPO</big></u></a>.</cite></small>
            </blockquote>
            <!-- ELTIEMPO -->
            <br>
            <hr>
            <div class="row"><center>
                <!-- EL TIEMPO WIND --><p class="text-primary">La previsión según Windytv.</p>
                <div class="col-md-8"><iframe src="https://embed.windytv.com/?39.876,-3.164,6,menu,message,marker" width="750" height="500" frameborder="0"></iframe></div></center> 
                <div class="col-md-4"><p class="text-primary">Windytv nos proporciona información metorologica del mundo entero, pero no por ello es menos concreto pues podemos navegar justo al lugar de nuestro pesquero y comprovar la previsión para las proximas horas.<br> Los colores amarillos, naranjas y rojos nos ubican las zonas donde el viento sopla con más intensidad. Tambien podemos consultar otros valores cómo temperatura, nubes, olas o presión.</p>
                    <img src="<?=base_url()?>assets/mundo.png" class="img-responsive" alt="El mundo a través de windytv"><p class="text-primary"> Windytv se actualiza 4 veces al día y por si fuera poco podemos consultar los mejores accesos a nuestro pesquero pues también se ve el mapa de carreteras.</p></div>       
            </div>
            <div class="row"><center><p class="text-primary">La previsión según Windguru.</p>            <!-- EL TIEMPO WINDGURU -->
                <div class="col-md-8"> <iframe src="https://www.windguru.cz/int/distr_iframe.php?u=1169662&s=48748&c=533e531c1a" frameborder="0" width="800" height="380"></iframe></div> </center>         
            </div>
            <!-- FIN ELTIEMPO -->
            <br><br><br><br><br><br>
            <hr>          
            <blockquote class="pull-right">
                <p class="titulo" id="about">¿Quienes somos?.</p>
                <small>Conoce lo que hacemos y <cite title="y">disfruta de ello.</cite></small>
            </blockquote>
            <!-- LOGO E INFORMACION -->     
            <!--<div class="row">
                             <div class="col-md-6">-->
            <!-- Jumbotron Header -->  
            <header class="jumbotron hero-spacer">
                <!-- MI ESLOGAN -->
                <h1 id="titulo">Nuestro equipo</h1>
                <p class="p">Somos un grupo de aficionados a la pesca que hemos creado este espacio con la intención de compartir y darle difusión a nuestros conocimientos, así como, adquirir nuevos conocimientos gracias a esta comunidad. Tendrás la oportunidad de planear con eficiencia tu jornada de pesca, basándote en las experiencias compartidas por nuestros usuarios, así como, obtener información a tiempo real sobre el tiempo y otros valores climatológicos que afectan a la jornada de pesca. </p>               
                <address><center>
                        <strong>AquaSport S.L.</strong><br>
                        Avenida Principal 123<br>
                        Punta Umbría, Huelva 21100<br>
                    </center></address>
                <address><center>
                        <strong>E-mail</strong><br>
                        <a href="mailto:#">aquasport.inform@gmail.com</a>
                    </center></address>                 
        </div>
    </div>
    <!--</a>  </div>           
  </div>-->
    <hr><br>
    <br><br>  <div class="row" id="sabermas"> 
        <div class="col-md-8">
            <center>
                <h1 id="titulo">¿Quieres saber más?</h1>     
                <p class="p"> Eso esta muy bien. No dudes en meterte en nuestro foro y preguntar tus dudas o simplemente, comentar tu experiencias.<br>
                    Pincha en el siguiente enlace:
                    <a href="http://www.pescacng.info/foropesca" target="_blank" ><u><big>foropesca</big></u></a> 
                <center><img src="<?=base_url()?>assets/foros-online-slider.png"></center></center>                    
        </div>
        <div class="col-md-4">
            <h1 id="titulo">Estamos en</h1>
            <p class="p">Nuestra responsabilidad social corporativa se basa en el compromiso con la sociedad y por eso queremos estar cerca de ella. Para ponerte en contacto con nosotros puedes seguirnos en: </p>  <br>

            <a href="https://www.facebook.com/profile.php?id=100013947528486" target="_blank"><img alt="siguenos en facebook" height="48" src="http://4.bp.blogspot.com/-LnKbkk802kw/UiXwV9rN8xI/AAAAAAAAB0Y/fQCQKFEbvjM/s1600/face.png" title="siguenos en facebook" width="48" /></a> 
            <a href="https://plus.google.com/u/1/106036487165336820763" target="_blank"><img alt="siguenos en Google+" height="48" src="http://3.bp.blogspot.com/-IwxItZ1_cM0/UiX0-g2DrCI/AAAAAAAAB1c/hOSA6Uklo-I/s1600/Google%252B+alt.png" title="siguenos en Google+" width="48" /></a>
            <br><br>
            <a href="https://twitter.com/aquasportinfo" target="_blank"><img alt="siguenos en Twitter" height="48" src="http://2.bp.blogspot.com/-CaF1EOBAWj4/UiX1AxmkZuI/AAAAAAAAB2Y/IioIplosXNo/s1600/Twitter+NEW.png" title="siguenos en Twitter" width="48" /></a>
            <a href="https://www.youtube.com/channel/UCCKepeCXkZ1l6S3UsLVN_xw" target="_blank"><img alt="sígueme en Youtube" height="48" src="<?=base_url()?>assets/Youtube2.png" title="sígueme en Youtube" width="48" /></a>
        </div>
    </div>       
    <!-- AQUI TERMINA EL LOGO Y LA INFORMACION-->
    <!-- PIE DE PAGINA -->
    <hr>
<center> <p><a class="btn btn-primary btn-large" id="subir">Subir al cielo!</a><br>
        Copyright © Domi C. 2016
    </p> </center>
<script type="text/javascript">
    $("#subir").click(function () {
        $('body,html').animate({scrollTop: 0}, 500);
    });
    $("#btnlogo").click(function () {
        $('body,html').animate({scrollTop: 0}, 500);
    });
</script>
</div><!-- FIN DEL CONTENDOR PRINCIPAL DE LA WEB -->   
</body>
</html>
